// Colors

$yellow-1: #FBDD7A;
$yellow-2: #F9E39D;
$yellow-3: #FAD36B;

$dark: #483739;

$light: #BAA49C;

$red: #D0315F;

// Font sizes

$font-size-s: 10px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 24px;
